<div style="margin-bottom: 50px">
		<!-- loop badge -->
		<div class="loop-embedded-badge"
				data-badge-type="profile" 
				data-user-id="{{ site.author.loop_id }}"
				style="margin-top: 20px; margin-bottom: 20px;"  >
		</div>
		<a href="https://twitter.com/TAbarbanell" 
				class="twitter-follow-button" 
				data-show-count="false" 
				data-size="large">
				Follow @TAbarbanell
		</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
